@page
@model GrosuGeorgeDBCrudFarmacie.Pages.WWWProduse.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produse.produsNume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produse.produsNume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produse.produsProd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produse.produsProd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produse.produsExp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produse.produsExp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produse.Farmacie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produse.Farmacie.farmacieAdr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produse.Oras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produse.Oras.orasDen)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produse.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
